__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
*.egg-info/
.venv/
outputs/
data/
checkpoints/
*.wav
*.pdf
*.mid
*.midi
*.pt
!examples/development.pt
!examples/mixture-development.pt
!examples/piano-development.pt
